@import "../../scss/const.module.scss";

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.view {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.block {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  align-items: center;
  justify-content: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */

  @include mid-width {
    align-content: center;
  }
}

.landing_svg {
  width: 50%;
  max-height: 90vh;
  transform: translateY(5%);

  @include mid-width {
    transform: translateY(0%);
    width: 90%;
    max-height: 40vh;
    margin-bottom: 10px;
    margin-top: -20px;
  }
}

.banner {
  width: 40%;
  flex: auto;
  font-family: inherit;
  padding-left: 5%;
  box-sizing: border-box;

  @include mid-width {
    width: 70%;
    padding-left: 0;
    flex: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include small-width {
      width: 80%;
    }
  }

  .banner_slogan {
    font-size: $h1;
    font-weight: 700;
    color: $black;
    line-height: 140%;

    @include mid-width {
      width: 100%;
      font-size: $h2;
    }
  }
  .banner_text {
    margin-top: 20px;
    font-size: $h4;
    color: $gray_darker;
    line-height: 140%;

    @include mid-width {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.button {
  width: fit-content;
  height: 25px;
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: $main;
  font-size: $h4;
  text-decoration: none;
  line-height: 25px;
  color: $white;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.card_block {
  @extend .block;
  padding: 0 10%;
  background-color: $main;

  @include mid-width {
    flex-direction: column-reverse;
    padding: 0 15%;
  }

  @include small-width {
    padding: 0 10%;
  }
}

.feature_section {
  width: 60%;
  flex: auto;
  font-family: inherit;
  box-sizing: border-box;

  @include mid-width {
    width: 100%;
    flex: none;
  }

  .feature_slogan {
    font-size: $h1;
    font-weight: 700;
    color: $white;
    line-height: 140%;

    @include mid-width {
      width: 100%;
      font-size: $h2;
    }
  }

  .feature_text {
    margin-top: 20px;
    font-size: $h4;
    color: rgba(0, 0, 0, 0.9);
    line-height: 140%;

    @include mid-width {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.card_svg {
  width: 40%;
  height: auto;
  box-sizing: border-box;
  transform: translateY(5%);

  @include mid-width {
    width: 90%;
    max-height: 40vh;
    margin-bottom: 20px;
  }
}

.itinerary_block {
  @extend .card_block;
}

.itinerary_svg {
  @extend .card_svg;
}
