@import "../../scss/const.module.scss";

.view {
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  justify-content: center;
  background-color: $gray_lighter;

  .container {
    margin-top: 200px;
    max-width: 1200px;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project {
    width: 250px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    background-color: $white;
    box-shadow: 0 0 3px 2px $gray_lighter, 0 0 10px 1px $gray_lighter;

    &:hover {
      box-shadow: 0 0 5px 1px $gray, 0 0 8px 0px $gray_darker;
      cursor: pointer;
    }

    .removeProject {
      width: 30px;
      height: 30px;
      margin: 5px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      color: $gray;

      &:hover {
        background-color: $gray_lighter;
        color: $black;
      }

      &::after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-times);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: smaller;
      }
    }
  }

  .projectTitle {
    width: 100%;
    font-weight: bold;
    font-size: $h3;
    word-break: break-all;
  }

  .addProject_container {
    @extend .project;
    color: $gray_lighter;
    padding-top: 20px;
    background-color: $white;
    opacity: 0.8;

    //without editing
    .projectTitle {
      display: block;
      width: 100%;
      font-weight: bold;
      font-size: $h3;
    }
    &:hover {
      color: $gray;
      opacity: 1;
    }

    //with editing
    // .header {
    //   width: 100%;
    //   padding-bottom: 14px;
    //   margin-bottom: 20px;
    //   border-bottom: 1px solid $gray_darker;
    // }

    .addProject {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .main {
        flex: 1;
        width: 100%;
        margin-bottom: 10px;

        .row {
          width: 100%;

          .caption {
            font-size: $h5;
            color: $gray_darker;
            width: 100%;
            padding-top: 2px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $gray;
          }

          input {
            padding: 10px 5px;

            width: 100%;
            box-sizing: border-box;
            border: none;
            border: 1px solid $gray;
            border-radius: 3px;

            font-size: $h4;

            &:focus,
            &:hover {
              box-shadow: 0 0 3px 1px $gray;
            }
          }
        }
      }
      .bottom {
        flex: none;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .button {
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
          font-size: $h5;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }

        .cancel {
          @extend .button;
          background-color: $gray;
          color: $black;
        }

        .next {
          @extend .button;
          background-color: $main;
          color: $white;
        }
      }
    }
  }

  .background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);

    .confirm_container {
      width: 50%;
      max-width: 700px;
      height: 50%;
      max-height: 400px;
      padding: 3% 5%;
      box-sizing: border-box;
      border-radius: 3%;
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-content: center;

      .text {
        width: 100%;
        padding-left: 130px;
        box-sizing: border-box;

        line-height: 140%;
        font-size: $h3;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex: auto;

        &::before {
          @extend %fa-icon;
          @extend .fas;
          content: fa-content($fa-var-trash);
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          color: $black;
          font-size: 100px;
        }
      }

      .tools {
        width: 100%;
        height: fit-content;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .button {
          padding: 15px 20px;
          border-radius: 5px;
          text-decoration: none;
          font-size: $h4;
          cursor: pointer;
        }

        .cancelBtn {
          @extend .button;
          background-color: $gray;
          color: $black;
        }

        .removeBtn {
          @extend .button;
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}
