@import "../../../../../scss/const.module.scss";

.button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $gray_lighter;
  color: $black;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;

  &:hover {
    background-color: $gray;
  }
}

.card_large_background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.7);

  overflow: scroll;
}

.card_large {
  width: 700px;
  min-height: 500px;

  margin: 100px auto 100px auto;
  padding: 15px 10px 10px 10px;
  box-sizing: border-box;

  background-color: $white;
  border-radius: 10px;

  display: grid;
  gap: 10px;
  grid-template-columns: minmax(0, 1fr) 200px;
  grid-template-rows: 40px auto;
  grid-template-areas:
    "header header"
    "main sideBar";
}

.card_header {
  grid-area: header;
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;

  position: relative;

  &:before {
    @extend %fa-icon;
    @extend .far;
    content: fa-content($fa-var-sticky-note);
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: smaller;
    line-height: 25px;
    font-size: 20px;
  }

  .card_title {
    font-weight: bold;
    font-size: $h3;
    flex: auto;
  }

  .card_title_edit {
    padding: 2px 5px;
    border-radius: 3px;
    flex: auto;
    border: 2px solid $gray;
    box-sizing: border-box;
  }

  .card_close {
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $black;
      background-color: $gray_lighter;
    }
  }
}

.card_main {
  grid-area: main;

  //////const module//////
  .section {
    width: 100%;
    padding-left: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex: none;
    color: $black;
  }

  //////tags section//////
  .tags_section {
    @extend .section;
    height: 50px;

    .title {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 10px;
      cursor: default;
    }

    .container {
      width: 100%;
      display: flex;

      .tag {
        line-height: 26px;
        height: 26px;
        padding: 5px 10px;
        font-size: $h6;
        margin-right: 10px;
        border-radius: 5px;
        flex: none;
        line-height: 14px;
        background-color: $gray_lighter;
        cursor: pointer;
        box-sizing: border-box;
        color: $white;
        font-weight: bold;
      }
    }
  }

  //////description section //////

  .description_section {
    @extend .section;
    align-content: flex-start;

    .controll_bar {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .title {
        font-weight: Bold;
        margin-right: 10px;
        cursor: default;

        position: relative;
        @extend %fa-icon;
        @extend .fas;

        &:before {
          content: fa-content($fa-var-align-justify);
          position: absolute;
          top: 0px;
          left: -25px;

          font-size: 20px;
          line-height: 20px;
        }
      }

      .edit_button {
        @extend .button;
      }

      .save_button {
        @extend .button;
      }
    }

    .container {
      width: 100%;
      display: flex;

      .description {
        font-size: $h4;
        padding-bottom: 20px;
        white-space: pre-wrap;
        word-break: break-word;
      }

      .inputDescription {
        @extend .description;
        flex: auto;
        line-height: 140%;
        padding: 5px;
        box-sizing: border-box;
        resize: none;
        overflow: hidden;
      }
    }
  }

  //////comments section //////

  .comments_section {
    @extend .section;
    padding-left: 0;
    align-content: flex-start;

    .controll_bar {
      width: 100%;
      padding-left: 30px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .title {
        font-weight: Bold;
        margin-right: 10px;
        cursor: default;

        position: relative;

        &:before {
          @extend %fa-icon;
          @extend .far;
          content: fa-content($fa-var-comment-alt);
          position: absolute;
          top: 0px;
          left: -25px;

          font-size: 18px;
          line-height: 20px;
        }
      }
    }

    .container {
      width: 100%;

      .comment {
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;

        .user {
          width: 20px;
          height: 20px;
          margin: 0 5px;
          border-radius: 50%;

          font-size: 14px;
          color: $black;
          line-height: 20px;
          text-align: center;
        }

        .details {
          flex: auto;
          display: flex;
          flex-wrap: wrap;
          .info {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            .name {
              font-size: 14px;
              font-weight: bold;
              margin-right: 5px;
            }
            .time {
              flex: auto;
              font-size: 10px;
            }
          }
          .message {
            width: fit-content;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid $gray;
            border-radius: 5px;
            background-color: $white;
            font-size: 16px;
            flex: none;
            white-space: pre-wrap;
            word-break: break-word;
          }

          .add_message {
            @extend .message;
            width: 250px;
            transition: width 1s ease-in-out;
            &:hover,
            &:focus {
              box-shadow: 0 0 3px 1px $gray_lighter;
            }
          }

          .tools {
            width: 100%;
            display: flex;
            .edit_button {
              font-size: 8px;
              margin: 0 5px;
              text-decoration: underline;
              color: $gray_darker;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

//////Links//////

.link_section {
  @extend .section;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: Bold;
    cursor: default;

    position: relative;
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-paperclip);
      position: absolute;
      top: 0px;
      left: -25px;

      font-size: 18px;
      line-height: 20px;
    }
  }

  .container {
    width: 100%;

    .link_container {
      width: 100%;
      display: flex;
      flex: none;
      margin-bottom: 10px;

      .preview_img {
        width: 80px;
        height: 66px;
        background-color: $gray;
        border-radius: 5px;
        margin-right: 10px;
        overflow: hidden;
        flex: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info {
        flex: auto;
        display: flex;
        flex-wrap: wrap;

        .title {
          width: auto;
          max-height: 44px;
          font-size: $h4;
          font-weight: bold;
          line-height: 140%;
          overflow-wrap: break-word;
        }

        .tools {
          width: 100%;
          display: flex;

          .time {
            font-size: 8px;
            margin: 0 5px 0 0;
            color: $gray_darker;
          }

          .edit_button {
            font-size: 8px;
            margin: 0 5px;
            text-decoration: underline;
            color: $gray_darker;
            cursor: pointer;
          }
        }
      }
    }
  }

  .toggleAddLinkBtn {
    @extend .button;
    flex: none;
    width: fit-content;
    margin-bottom: 10px;
  }
}

//////side bar//////
.card_sideBar {
  grid-area: sideBar;

  .title {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .sidebar_button {
    width: 100%;
    padding: 10px 0 10px 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $gray_lighter;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;

    &:hover {
      background-color: $gray;
    }
  }

  .sidebar_button_todo {
    @extend .sidebar_button;
    position: relative;
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-check-square);
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);

      font-size: 16px;
      line-height: 20px;
    }
  }

  .sidebar_button_addlink {
    @extend .sidebar_button;
    position: relative;

    &:before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-paperclip);
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);

      font-size: 16px;
      line-height: 20px;
    }
  }

  .sidebar_button_expenditure {
    @extend .sidebar_button;
    position: relative;

    &:before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-dollar-sign);
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);

      font-size: 16px;
      line-height: 20px;
    }
  }

  .sidebar_button_addtime {
    @extend .sidebar_button;
    position: relative;
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-calendar-alt);
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);

      font-size: 16px;
      line-height: 20px;
    }
  }

  .sidebar_button_remove {
    @extend .sidebar_button;
    position: relative;
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-trash-alt);
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);

      font-size: 16px;
      line-height: 20px;
    }
  }
}

//////float menu//////
.addLink_container {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: $white;
  border: 1 solid $gray_lighter;
  box-shadow: 0 0 5px 2px $gray_lighter;

  .addLink_span {
    font-size: $h5;
    color: $gray_darker;
    padding-bottom: 10px;

    border-bottom: 1px solid $gray;
  }

  .addLink_input {
    margin: 10px 0;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 1 solid $gray_lighter;
  }

  .addLink_button {
    @extend .button;
    margin: 10px 0;
    width: fit-content;
    padding: 10px;
    box-sizing: border-box;
  }
}

.remove_container {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: $white;
  border: 1 solid $gray_lighter;
  box-shadow: 0 0 5px 2px $gray_lighter;

  .remove_span {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray;
    font-size: $h5;
    line-height: 140%;
    color: $gray_darker;
  }

  .remove_buttons {
    display: flex;
    justify-content: space-between;
  }

  .remove_buttons__cancel {
    @extend .button;

    width: fit-content;
    padding: 10px;
    box-sizing: border-box;
  }

  .remove_buttons__confirm {
    @extend .button;

    width: fit-content;
    padding: 10px;
    box-sizing: border-box;
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $red_darker;
    }
  }
}

.addTime_container {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: $white;
  border: 1 solid $gray_lighter;
  box-shadow: 0 0 5px 2px $gray_lighter;

  .addLink_span {
    font-size: $h5;
    color: $gray_darker;
    padding-bottom: 10px;

    border-bottom: 1px solid $gray;
  }

  .addLink_input {
    margin: 10px 0;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 1 solid $gray_lighter;
  }

  .addLink_button {
    @extend .button;
    margin: 10px 0;
    width: fit-content;
    padding: 10px;
    box-sizing: border-box;
  }

  .item {
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: $black;
  }

  .react_datepicker_wrapper {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid $gray;
    border-radius: 3px;
  }

  .input {
    font-family: inherit;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: $h5;
    color: $black;

    &:hover {
      box-shadow: 0 0 5px 1px $gray;
    }
    &:focus {
      background-color: $white;
    }
  }

  .popper {
    width: 400px;
  }

  .hasPlan {
    background-color: $main_lighter;
    border-radius: 50%;
  }
}

.addTag_container {
  width: 200px;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;

  position: absolute;
  background-color: $white;
  border: 1px solid $gray_lighter;
  box-shadow: 0 0 5px 2px $gray_lighter;

  .addTag_span {
    display: block;
    text-align: center;
    font-size: $h5;
    color: $gray_darker;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray;
    margin-top: 1px;
    margin-bottom: 5px;
    cursor: default;
  }

  .input {
    font-family: inherit;
    width: 100%;

    padding: 5px 10px;
    box-sizing: border-box;

    color: $black;
    border: 1px solid $gray_lighter;

    &:hover {
      border: 1px solid $gray_lighter;
      box-shadow: 0 0 5px 1px $gray;
    }

    &:focus {
      background-color: $white;
    }
  }

  .addTag_button {
    @extend .button;
    margin: 10px 0;
    width: fit-content;
    box-sizing: border-box;
  }

  .tag_container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .tag {
      flex: auto;
      height: 30px;
      padding: 5px 10px;
      margin: 5px 0;

      border-radius: 5px;
      background-color: $gray_lighter;
      box-sizing: border-box;
      color: $white;
      font-size: $h6;
      font-weight: bold;
      line-height: 20px;
      cursor: pointer;

      &:hover {
        padding-left: 15px;
        opacity: 80%;
      }
    }

    .active {
      position: relative;

      &::after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-check);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: smaller;
      }
    }

    .editing {
      padding-left: 15px;
      opacity: 80%;
    }

    .edit {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      position: relative;
      flex: none;
      color: $gray;

      &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-pencil-alt);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: $h6;
      }

      &:hover {
        color: $gray_darker;
      }
    }

    .onEdit {
      @extend .edit;
      color: $gray_darker;
    }
  }

  // .item {
  //   margin: 0 10px;
  //   padding: 5px;
  //   border-radius: 5px;
  //   text-decoration: none;
  //   color: $black;
  // }
}
