@import "reset.module";

@import "./fontawesomScss/fontawesome.scss"; //color code
@import "./fontawesomScss/solid.scss";
@import "./fontawesomScss/regular.scss";
@import "./fontawesomScss/brands.scss";

:root {
  font-family: "Noto Sans TC", sans-serif;
}

//font size
$h1: 42px;
$h2: 30px;
$h3: 24px;
$h4: 16px;
$h5: 14px;
$h6: 12px;

//color code
$white: #fff;
$gray_lighter2: #f3f3f3;
$gray_lighter: #e6e8e6;
$gray: #ced0ce;
$gray_darker: #646864;
$black: #191919;

$main: #f15025;
$main_lighter: #ffcbbd;
$main_darker: #e23707;

$red: #d30d0d;
$red_darker: #c50707;

//reset polyfill
a {
  color: $black;
}

//card tag
$food: #33b679;
$hotel: #f4511e;
$activity: #ff9770;
$commute: #7986cb;
$site: #f6bf26;
$default: #616161;

//fontawesome
$fa-font-path: "../../public/webfonts";
