@import "reset.module";

//color code
$white: #fff;
$gray_lighter: #e6e8e6;
$gray: #ced0ce;
$black: #191919;

$main: #f15025;
$main_lighter: #f47552;
$main_darker: #d3380d;

//font

a {
  color: $black;
}
