@import "reset.module";

@import "./fontawesomScss/fontawesome.scss"; //color code
@import "./fontawesomScss/solid.scss";
@import "./fontawesomScss/brands.scss";

//font size
$h1: 42px;
$h2: 30px;
$h3: 24px;
$h4: 16px;
$h5: 14px;
$h6: 10px;

//color code
$white: #fff;
$gray_lighter: #e6e8e6;
$gray: #ced0ce;
$gray_darker: #646864;
$black: #191919;

$main: #f15025;
$main_lighter: #ffcbbd;
$main_darker: #d3380d;

//reset polyfill
a {
  color: $black;
}

//card tag
$food: #ff70a6;
$hotel: #020887;
$country: #ff9770;
$commute: #71a9f7;
$site: #ecdd7b;
$default: #e2e1df;

//fontawesome
$fa-font-path: "../../public/webfonts";
