@import "const.module.scss";

//shared css
.centralizeItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border_bottom {
  border-bottom: 2px solid $gray;
}

.border_bottom_thin {
  border-bottom: 1px solid $gray;
}

.border_right {
  border-right: 2px solid $gray;
}

//general view
.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: none;
}

//side bar: card list
.cardList {
  // max-width: 20%;
  width: 200px;
  height: 100vh;
  flex: none;
  padding-top: 55px;
  box-sizing: border-box;

  background-color: $white;
  border-right: 2px solid $gray;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: scroll;
  z-index: 30;

  .card {
    //text view
    width: 90%;
    height: 40px;
    margin: 5px 0;

    border-radius: 5px;
    border: 2px solid $gray;
    background-color: $white;

    font-size: $h4;
    line-height: 40px;
    text-align: center;
    user-select: none;
    z-index: 20;
  }
}

.itineraryBoard {
  flex: auto;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  background-color: $white;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  font-size: $h4;
  position: relative;

  table {
    margin-top: 59px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $gray;
    text-align: center;
  }

  td {
    width: 12.5%;
    vertical-align: middle;
    border: 1px solid $gray;
    box-sizing: border-box;
    background-color: $white;
  }

  .datesHeader_row {
    position: fixed;
    top: 50px;
    right: 0px;
    width: 100%;
    height: 56px;
    background-color: $gray_lighter2;
    z-index: 20;
    display: flex;
    border-bottom: 1px solid $gray;
    // box-shadow: 0px 1px 1px 1px $gray_lighter;

    td {
      padding: 10px;
      background-color: $gray_lighter2;
      border-bottom: 1px solid $gray;
      box-sizing: border-box;
      height: 60px;
      vertical-align: middle;
    }
  }

  .datesHeader_space {
    margin-left: 200px;
  }
  .datesHeader_date {
    font-size: 18px;
    color: $black;
    margin-bottom: 5px;
  }

  .datesHeader_day {
    font-size: $h6;
    color: $gray;
  }
  .hourHeader {
    font-size: $h4;
    color: $black;
  }

  .appointments {
    position: absolute;
    margin-top: 110px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
  }

  //////container for each columns senario//////
  .container {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    border: 2px solid $gray;

    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 10% 25% 25% 25% 15%;
  }

  .container_1 {
    @extend .container;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "year date_1  "
      "morning  dayplan_1  "
      "afternoon dayplan_1  "
      "evening dayplan_1  "
      "hotel dayplan_1  ";
  }

  .container_2 {
    @extend .container;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
      "year date_1 date_2 "
      "morning  dayplan_1 dayplan_2 "
      "afternoon dayplan_1 dayplan_2 "
      "evening dayplan_1 dayplan_2 "
      "hotel dayplan_1 dayplan_2 ";
  }

  .container_3 {
    @extend .container;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-template-areas:
      "year date_1 date_2 date_3"
      "morning  dayplan_1 dayplan_2 dayplan_3"
      "afternoon dayplan_1 dayplan_2 dayplan_3"
      "evening dayplan_1 dayplan_2 dayplan_3"
      "hotel dayplan_1 dayplan_2 dayplan_3";
  }

  .container_4 {
    @extend .container;
    grid-template-columns: 150px repeat(4, 1fr);
    grid-template-areas:
      "year date_1 date_2 date_3 date_4"
      "morning  dayplan_1 dayplan_2 dayplan_3  dayplan_4"
      "afternoon dayplan_1 dayplan_2 dayplan_3 dayplan_4"
      "evening dayplan_1 dayplan_2 dayplan_3 dayplan_4"
      "hotel dayplan_1 dayplan_2 dayplan_3 dayplan_4";
  }

  .container_5 {
    @extend .container;
    grid-template-columns: 150px repeat(5, 1fr);
    grid-template-areas:
      "year date_1 date_2 date_3 date_4 date_5"
      "morning  dayplan_1 dayplan_2 dayplan_3  dayplan_4 dayplan_5 "
      "afternoon dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 "
      "evening dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 "
      "hotel dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 ";
  }

  .container_6 {
    @extend .container;
    grid-template-columns: 10% repeat(6, 1fr);
    grid-template-areas:
      "year date_1 date_2 date_3 date_4 date_5 date_6 "
      "morning  dayplan_1 dayplan_2 dayplan_3  dayplan_4 dayplan_5 dayplan_6 "
      "afternoon dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 dayplan_6"
      "evening dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 dayplan_6"
      "hotel dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 dayplan_6";
  }

  .container_7 {
    @extend .container;
    grid-template-columns: 10% repeat(7, 1fr);
    grid-template-areas:
      "year date_1 date_2 date_3 date_4 date_5 date_6 date_7"
      "morning  dayplan_1 dayplan_2 dayplan_3  dayplan_4 dayplan_5 dayplan_6 dayplan_7"
      "afternoon dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 dayplan_6 dayplan_7"
      "evening dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 dayplan_6 dayplan_7"
      "hotel dayplan_1 dayplan_2 dayplan_3 dayplan_4 dayplan_5 dayplan_6 dayplan_7";
  }

  .dayplan_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27.78% 27.78% 27.78% 16.66%;
    background-color: $white;

    .card {
      width: 90%;
      height: 90%;

      border-radius: 5px;
      border: 2px solid $gray;
      background-color: $white;

      justify-self: center;
      align-self: center;
      @extend .centralizeItems;
    }
  }

  //////each item//////

  .tableTitle {
    background-color: $white;
    @extend .centralizeItems;
    @extend .border_right;
  }

  .morning {
    grid-area: morning;
    @extend .tableTitle;
  }
  .afternoon {
    grid-area: afternoon;
    @extend .tableTitle;
  }
  .evening {
    grid-area: evening;
    @extend .tableTitle;
  }
  .hotel {
    grid-area: hotel;
    @extend .tableTitle;
  }

  .year {
    grid-area: year;
    background-color: $white;
    @extend .centralizeItems;
    @extend .border_bottom;
  }

  .date {
    background-color: $white;
    @extend .border_bottom;
    @extend .centralizeItems;

    .dateString {
      flex: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .space {
      flex: auto;
      min-width: 30px;
      height: 100%;
      position: relative;
    }

    .addDateBtn {
      @extend .space;
      &:hover::before {
        content: "+";
        width: 30px;
        height: 30px;
        padding: 10px;
        font-size: 30px;
        line-height: 25px;
        background-color: $gray;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .date_1 {
    @extend .date;
    grid-area: date_1;
  }
  .date_2 {
    @extend .date;
    grid-area: date_2;
  }

  .date_3 {
    @extend .date;
    grid-area: date_3;
  }

  .date_4 {
    @extend .date;
    grid-area: date_4;
  }

  .date_5 {
    @extend .date;
    grid-area: date_5;
  }

  .date_6 {
    @extend .date;
    grid-area: date_6;
  }

  .date_7 {
    @extend .date;
    grid-area: date_7;
  }

  .dayplan_1 {
    @extend .dayplan_container;
    grid-area: dayplan_1;
  }
  .dayplan_2 {
    @extend .dayplan_container;
    grid-area: dayplan_2;
  }

  .dayplan_3 {
    @extend .dayplan_container;
    grid-area: dayplan_3;
  }

  .dayplan_4 {
    @extend .dayplan_container;
    grid-area: dayplan_4;
  }

  .dayplan_5 {
    @extend .dayplan_container;
    grid-area: dayplan_5;
  }

  .dayplan_6 {
    @extend .dayplan_container;
    grid-area: dayplan_6;
  }

  .dayplan_7 {
    @extend .dayplan_container;
    grid-area: dayplan_7;
  }
}
