@import "../../scss/button.module.scss";

$cardBoard: 600px;

//reset default css on tag
input {
  color: $black;
  border: 0px;
  font-size: smaller;
  font: inherit;
}
input:focus {
  outline: none;
}

//custom css
.navbar {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  position: fixed;
  z-index: 50;
  background-color: $white;
  border-bottom: 2px solid $gray;
  display: flex;
  align-items: center;

  @include mid-width {
    padding: 0 5px;
  }

  //basic setting of items in navbar
  .item {
    height: 30px;
    margin: 0 10px;
    padding: 5px 7px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: $h4;
    color: $black;
    line-height: 20px;
    text-decoration: none;
    flex: none;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $gray_lighter;
    }

    @include mid-width {
      margin: 0 5px;
    }
  }

  .logo {
    @extend .item;
    width: 125px;

    background-image: url("../../img/icon/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:hover {
      background-color: transparent;
    }
  }

  .projects {
    @extend .item;
    @extend .tooltip;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: $gray_darker;
    position: relative;

    background-image: url("../../img/icon/logo192.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:hover {
      background-color: transparent;
    }
    @include custom-width($cardBoard) {
      display: none;
    }
  }

  //tool tip
  .tooltip {
    position: relative;

    &:hover {
      .tooltip_text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .tooltip_text {
    transition: opacity 1s ease-out;
    visibility: hidden;
    opacity: 0;
    width: 64px;
    height: 30px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    font-size: $h6;
    color: $white;
    border-radius: 3px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 130%);

    &:before {
      content: "";

      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent rgba($color: #000000, $alpha: 0.8)
        transparent;
    }
  }

  //project title
  .project_title {
    @extend .item;
    @extend .tooltip;
  }

  .project_title__edit {
    @extend .item;
    border: 1px solid $gray;
    padding: 2px 5px;
    font-size: smaller;

    &:hover {
      background-color: $white;
    }

    &:focus {
      box-shadow: inset 0 0 1px 1px $gray_lighter;
    }
  }

  //bar that includes different features on different page
  .board_bar {
    box-sizing: border-box;
    flex: auto;
    display: flex;
    align-items: center;
    @include custom-width($cardBoard) {
      justify-content: flex-end;
    }
  }

  //basic setting of select
  .select {
    @extend .item;
    font-size: $h4;
    cursor: default;
    &:hover {
      background-color: transparent;
    }
  }

  //coordinate with customstyles object( react-select's prop)
  .board_select {
    @extend .select;
    width: 125px;
    height: fit-content;

    @include custom-width($cardBoard) {
      display: none;
    }
  }

  .card_select {
    @extend .select;
    flex: auto;
    max-width: 80%;
    min-width: 200px;
    width: fit-content;
    height: fit-content;

    @include custom-width($cardBoard) {
      display: none;
    }
  }

  .mobile_card_select__show {
    @include custom-width($cardBoard) {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 45px;
      transform: translateY(-50%);
    }
    @include custom-width(400px) {
      padding-right: 40px;
    }
  }

  .mobile_menu_search_icon {
    @extend .item;
    width: 30px;
    flex: none;
    position: relative;
    display: none;

    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-search);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $black;
      font-size: 20px;
    }

    &:hover {
      &::before {
        color: $black;
      }
    }

    @include custom-width($cardBoard) {
      display: block;
    }
  }

  .mobile_menu_search_icon__current {
    @extend .mobile_menu_search_icon;
    background-color: $gray_lighter;
  }

  //coordinate with customstyles(react-datepicker's prop)
  .daySelect_container {
    @extend .select;
    @extend .tooltip;
    display: flex;
    align-items: center;
    justify-content: center;

    .daySelect {
      @extend .item;
      width: 130px;
      padding-right: 15px;
      border: 1px solid $gray;
      text-align: center;
      font-size: 14px;
    }

    .hasPlan {
      position: relative;
      &:after {
        content: "・";
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 25px;
        color: $gray;
      }
    }

    .daySelect_tooltip_text {
      @extend .tooltip_text;
      width: 90px;
    }
  }

  //invitation button
  .invitation {
    @extend .item;

    font-size: 14px;
    background-color: $gray_lighter2;
    position: relative;

    @include custom-width($cardBoard) {
      display: none;
    }

    //popup menu
    .invitation_container {
      width: 150px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid $gray;
      background-color: $white;
      border-radius: 5px;
      position: absolute;
      top: 50px;
      left: 0px;
      font-size: $h5;
      z-index: 5;
      cursor: default;

      .caption {
        color: $gray_darker;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray_darker;
        margin-bottom: 10px;
        text-align: center;
      }

      .url {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 2px solid $gray;
      }

      .buttons {
        display: flex;
        justify-content: center;

        .copy_button {
          flex: auto;
          padding: 5px 10px;
          border-radius: 5px;
          background-color: $main;
          color: $white;
          text-align: center;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  //empty space to fill the bar
  .space {
    flex: auto;
  }

  .space_board {
    flex: auto;
    @include custom-width($cardBoard) {
      display: none;
    }
  }

  //user info shown when signed in
  .user_icon {
    @extend .item;
    width: 30px;
    padding: 0px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    color: $white;
    font-size: $h4;
    user-select: none;

    &:hover {
      box-shadow: 0 0 3px 1px $gray_lighter, 0 0 5px 1px $gray_lighter;
    }
  }

  .user_icon_cardBoard {
    @extend .user_icon;

    @include custom-width($cardBoard) {
      display: none;
    }
  }

  .user_icon_itineraryBoard {
    @extend .user_icon;

    @include custom-width($cardBoard) {
      display: none;
    }
  }

  //buttons shown when not signed in
  .user_buttons {
    display: flex;

    .sign_in_button {
      @extend .item;
      padding: 5px 10px;
      box-sizing: border-box;
      line-height: 18px;

      &:hover {
        background-color: $gray_lighter;
      }
    }

    .sign_up_button {
      @extend .item;
      padding: 5px 10px;
      box-sizing: border-box;
      background-color: $main;
      color: $white;
      line-height: 18px;

      &:hover {
        background-color: $main;
        opacity: 80%;
      }
    }
  }

  .user_buttons_cardBoard {
    @extend .user_buttons;

    @include custom-width($cardBoard) {
      display: none;
    }
  }

  .user_buttons_itineraryBoard {
    @extend .user_buttons;

    @include mid-width {
      display: none;
    }
  }
}

.popup_background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobile_menu_icon {
  @extend .item;
  width: 30px;
  flex: none;
  position: relative;
  display: none;

  &::before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-bars);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $black;
    font-size: 20px;
  }

  @include custom-width($cardBoard) {
    display: block;
  }
}

.mobile_menu {
  width: 100vw;
  height: 0vh;
  position: fixed;
  top: 0;
  left: 0;

  .container {
    width: 500px;
    max-width: 100%;
    height: 100vh;
    padding: 50px 20px 50px 20px;
    box-sizing: border-box;
    background-color: $white;
    box-shadow: 0 0 10px 5px $gray;

    display: flex;
    flex-direction: column;
    position: relative;

    transform: translateX(0%);
    transition: transform 1s ease;

    .tools {
      flex: auto;

      .button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        background-color: $gray_lighter;
        border-radius: 5px;
        font-size: $h4;
        color: $black;
      }
    }

    .user {
      .info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;
          line-height: 40px;
          text-align: center;
          color: $white;
        }

        .details {
          flex: auto;

          .name {
            width: 100%;
            font-size: $h4;
            font-weight: bold;
            color: $black;
            margin-bottom: 5px;
          }
          .email {
            width: 100%;
            font-size: $h5;
            color: $gray_darker;
          }
        }
      }
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;

      &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-times);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $gray;
        font-size: 25px;
      }
      &:hover {
        &::before {
          color: $black;
        }
      }
    }
  }

  .container__closed {
    @extend .container;
    transform: translateX(-100%);
    box-shadow: none;
    transition: transform 1s ease, box-shadow 1s 0.3s ease-in-out;
  }
}
