@import "../../scss/const.module.scss";

//shared css
.centralizeItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border_bottom {
  border-bottom: 2px solid $gray;
}

.border_bottom_thin {
  border-bottom: 1px solid $gray;
}

.border_right {
  border-right: 2px solid $gray;
}

//general view
.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: none;
}

.sidebar {
  width: 200px;
  height: 100vh;
  padding: 50px 20px 10px 20px;
  box-sizing: border-box;
  background-color: $white;
  display: flex;
  flex-direction: column;
  z-index: 30;

  @include mid-width {
    width: 100%;
    height: 100px;
    padding: 0 10px;
    position: fixed;
    bottom: 0px;
    left: 0;
    box-shadow: 0 0 10px 2px $gray;
  }

  .sidebar_title {
    width: 100%;
    height: 60px;
    padding: 10px 0px;
    box-sizing: border-box;
    background-color: $white;
    font-size: $h5;
    line-height: 40px;
    color: black;
    flex: none;
    position: relative;

    @include mid-width {
      font-size: $h5;
      line-height: 20px;
      height: fit-content;
    }

    .sidebar_filter_icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 15px;
      right: 0px;
      cursor: pointer;

      @include mid-width {
        width: 25px;
        height: 25px;
        top: 7px;
      }

      &:after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-filter);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 12px;
        font-size: 12px;
        color: $gray;
      }

      &:hover {
        background-color: $gray_lighter;
        border-radius: 3px;
        &::after {
          color: $gray_darker;
        }
      }
    }

    .sidebar_filter_icon__open {
      @extend .sidebar_filter_icon;
      background-color: $gray_lighter;
      border-radius: 3px;
      &::after {
        color: $gray_darker;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .sidebar_filter {
    width: 100%;
    height: 90px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: none;
    overflow: hidden;
    visibility: visible;
    transition: height 1s ease-in-out, margin 0.7s 0.3s ease-in;

    @include mid-width {
      height: 50px;
    }

    .sidebar_filter_caption {
      width: 100%;
      margin-bottom: 10px;
      font-size: $h6;
      color: $black;
      @include mid-width {
        margin-bottom: 5px;
      }
    }

    .label_container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      @include mid-width {
        height: 40px;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
      }
    }

    .label {
      width: 50%;
      padding: 5px 0;
      color: $black;
      display: flex;
      align-items: center;
      position: relative;

      @include mid-width {
        width: 60px;
        padding: 0;
        flex: none;
      }

      input {
        //hide default
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      span {
        font-size: $h6;
        margin: 0px;
        cursor: pointer;
      }

      //custom checkbox
      .checkmark {
        display: block;
        height: 10px;
        width: 10px;
        margin: 0px 5px;
        position: relative;
        cursor: pointer;

        &:before {
          @extend %fa-icon;
          @extend .fa;
          content: fa-content($fa-var-square);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 10px;
          color: $gray_lighter;
        }
      }

      &:hover input ~ .checkmark {
        &:before {
          color: $gray;
        }
      }

      input:checked ~ .checkmark {
        &:before {
          content: fa-content($fa-var-check-square);
          color: $main;
        }
      }
    }

    .label__food {
      @extend .label;
      input:checked ~ .checkmark {
        &:before {
          content: fa-content($fa-var-check-square);
          color: $food;
        }
      }
    }

    .label__hotel {
      @extend .label;
      input:checked ~ .checkmark {
        &:before {
          content: fa-content($fa-var-check-square);
          color: $hotel;
        }
      }
    }

    .label__activity {
      @extend .label;
      input:checked ~ .checkmark {
        &:before {
          content: fa-content($fa-var-check-square);
          color: $activity;
        }
      }
    }

    .label__site {
      @extend .label;
      input:checked ~ .checkmark {
        &:before {
          content: fa-content($fa-var-check-square);
          color: $site;
        }
      }
    }

    .label__commute {
      @extend .label;
      input:checked ~ .checkmark {
        &:before {
          content: fa-content($fa-var-check-square);
          color: $commute;
        }
      }
    }

    .label__default {
      @extend .label;
      input:checked ~ .checkmark {
        &:before {
          content: fa-content($fa-var-check-square);
          color: $default;
        }
      }
    }
  }

  .sidebar_cards_container {
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    flex: auto;
    z-index: 3;
    overflow-y: scroll;
    display: flex;

    @include mid-width {
      height: 40px;
      padding-bottom: 10px;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow-y: visible;
      overflow-x: scroll;
    }

    .card_list {
      width: 100%;
      flex: auto;
      box-sizing: border-box;
      background-color: $white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-content: flex-start;

      @include mid-width {
        height: 40px;
        justify-content: flex-start;
        flex-wrap: nowrap;
      }

      .card {
        width: 98%;
        height: 35px;
        margin-top: 2px;
        border-radius: 3px;
        background-color: $white;
        line-height: 35px;
        display: flex;
        align-items: center;
        user-select: none;
        z-index: 20;
        position: relative;

        &:hover {
          box-shadow: 0 0 2px 1px $gray_lighter;
        }

        @include mid-width {
          max-width: 120px;
          width: fit-content;
          padding-right: 5px;
          box-sizing: border-box;
          margin-right: 5px;
        }

        .title {
          font-size: $h5;
          color: $black;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .category {
          flex: none;
          width: 10px;
          height: 10px;
          margin: 0 5px;
          box-sizing: border-box;
          border-radius: 50%;
        }
      }
    }
  }
}
.itineraryBoard {
  flex: auto;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  background-color: $white;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: $h4;
  position: relative;
  user-select: none;

  @include mid-width {
    height: calc(100% - 100px);
  }

  table {
    margin-top: 59px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  td {
    width: 13.5%;
    vertical-align: middle;
    border: 1px solid $gray;
    box-sizing: border-box;
    background-color: $white;
  }

  .datesHeader_row {
    position: fixed;
    top: 50px;
    right: 0px;
    width: 100%;
    height: 56px;
    background-color: $white;
    z-index: 20;
    display: flex;
    border-bottom: 1px solid $gray;

    td {
      padding: 10px;
      border: 0px;
      border-bottom: 1px solid $gray;
      box-sizing: border-box;
      height: 60px;
      vertical-align: middle;

      @include mid-width {
        padding: 10px 0px;
      }
    }
  }

  .datesHeader_space {
    margin-left: 200px;
    width: 5.5%;
    min-width: 45px;

    @include mid-width {
      margin-left: 0px;
    }
  }

  .datesHeader_day {
    font-size: 12px;
    color: $gray_darker;
    margin-bottom: 5px;
  }

  .datesHeader_date {
    font-size: $h4;
    color: $black;
  }

  .datesHeader_date__today {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $main;
    line-height: 30px;
    color: $white;
    transform: translateY(-6px);
    display: inline-block;
  }

  .hourHeader {
    width: 5.5%;
    min-width: 45px;

    flex: none;
    border-left: 0px;
    border-bottom: 0px;
    font-size: $h6;
    color: $gray_darker;
    vertical-align: top;
    transform: translateY(-6px);

    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0px;
      height: 1px;
      width: 10%; /* percentage of the element width*/
      border-bottom: 1px solid $gray;
      margin-top: 4px; /*move the border below the text*/
    }
  }

  .td_border__fullHour {
    border-bottom: 0px;
  }

  .td_border__halfHour {
    border-top: 0px;
  }

  .appointment_display {
    padding: 2px 6px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
  }

  .appointment_title {
    margin-bottom: 5px;
    font-size: $h6;
    color: $white;
    opacity: 0.9;
  }

  .appointment_time {
    font-size: $h6;
    color: $white;
    opacity: 0.7;
  }

  .expandHandle_upper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .expandHandle_lower {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;

    &:hover {
      cursor: ns-resize;
    }
  }

  .isDragging_user {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 50%;
    color: $white;
    font-size: $h6;
    line-height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    position: absolute;
    top: 0px;
    right: 0px;
  }

  .appointments {
    position: absolute;
    margin-top: 110px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
  }
}

//for cardlist
.appointment_title__pending {
  line-height: 140%;
  margin-bottom: 5px;
  font-size: $h6;
  color: $white;
  opacity: 0.9;
}

.appointment_time {
  font-size: $h6;
  color: $white;
  opacity: 0.7;
}
