@import "../../../../scss/const.module.scss";

.container {
  width: 100%;
  padding: 70px 50px 50px 50px;
  box-sizing: border-box;
  background-color: $gray_lighter;

  // display: grid;
  // grid-template-columns: auto;
  // grid-template-rows: auto;

  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  align-content: flex-start;
}

.card {
  margin: 20px;
}

.card_small {
  @extend .card;
  width: 200px;
  height: 100px;
  padding: 15px 10px 10px 10px;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-wrap: wrap;

  .tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    border-radius: 10px 10px 0 0;
  }

  .tag_food {
    @extend .tag;
    background-color: $food;
  }

  .tag_hotel {
    @extend .tag;
    background-color: $hotel;
  }

  .tag_activity {
    @extend .tag;
    background-color: $activity;
  }

  .tag_site {
    @extend .tag;
    background-color: $site;
  }

  .tag_commute {
    @extend .tag;
    background-color: $commute;
  }

  .tag_default {
    @extend .tag;
    background-color: $default;
  }

  .info {
    width: 100%;
    padding-top: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;

    .card_small_picture {
      width: 65px;
      height: 65px;
      box-sizing: border-box;
      margin-right: 10px;
      border-radius: 5px;
      overflow: hidden;
      flex: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .details {
      max-width: 105px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      // line-height: 24px;
      // overflow-wrap: break-word;

      .title {
        width: 100%;
        margin-bottom: 2px;
        box-sizing: border-box;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 18px;
        line-height: 18px;
        color: $black;
      }

      .inputTitle {
        @extend .title;
        border: 0;

        &:focus {
          outline: 1px solid $gray;
        }
      }

      .description {
        flex: auto;
        max-height: 43px;
        margin: auto 0;
        box-sizing: border-box;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        color: $black;
      }

      .inputDescription {
        @extend .description;
        resize: none;
        border: 0;
        &:focus {
          outline: 1px solid $gray;
        }
      }
    }
  }
}

.card_small:hover {
  box-shadow: 0 0 3px 2px $gray_lighter, 0 0 10px 1px $gray;
}

.selectCategory {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  right: -205px;
  top: 0px;
  background-color: $white;
  border-radius: 5px;

  .option {
    width: 100%;
    height: 15px;
    padding: 3px;
    margin-bottom: 3px;
    box-sizing: border-box;
    line-height: 9px;
    font-size: 10px;
    color: $white;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.category_food {
  @extend .option;
  background-color: $food;
}

.category_hotel {
  @extend .option;
  background-color: $hotel;
}

.category_activity {
  @extend .option;
  background-color: $activity;
}

.category_site {
  @extend .option;
  background-color: $site;
}
.category_commute {
  @extend .option;
  background-color: $commute;
}
.category_default {
  @extend .option;
  background-color: $default;
}

// .button {
//   padding: 2px 20px;
//   border-radius: 5px;
//   text-decoration: none;
//   color: $black;
// }

// .button_border {
//   @extend .button;
//   background-color: $main;
//   color: $white;
//   font-size: smaller;
// }

// .button_border:hover {
//   background-color: $main_lighter;
// }

//tool tip
.tooltip {
  position: relative;

  &:hover {
    .tooltip_text {
      opacity: 1;
      visibility: visible;
    }
  }
}

.tooltip_text {
  transition: opacity 1s ease-out;
  visibility: hidden;
  opacity: 0;
  width: 64px;
  height: 30px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: $h6;
  color: $white;
  border-radius: 3px;
  background-color: rgba($color: #000000, $alpha: 0.8);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -130%);

  &:before {
    content: "";

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba($color: #000000, $alpha: 0.8) transparent transparent
      transparent;
  }
}

//add card button
.addCardButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $main;
  box-shadow: 0 0 10px 3px $gray;
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;

  &:hover {
    width: 50px;
    height: 50px;
    transform: scale(1.2);
    transition: transform 0.3s ease;
    background-color: $main_darker;
    box-shadow: 0 0 10px 3px $gray, 0 0 3px 1px $gray_lighter;

    .tooltip_text {
      opacity: 1;
      visibility: visible;
      transition: opacity 1s 1s ease-out;
    }
  }

  &:after {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-plus);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;
    color: $white;
  }
}
