@import "../../scss/const.module.scss";

.navBar {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  position: fixed;
  z-index: 50;
  background-color: $white;
  border-bottom: 2px solid $gray;
  display: flex;
  align-items: center;

  .item {
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: $black;
    user-select: none;
    cursor: pointer;
  }

  input {
    color: $black;
    border: 0px;
    font-size: smaller;
    font: inherit;
  }
  input:focus {
    outline: none;
  }

  .editTitle {
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: inherit;
  }

  .switchBar {
    margin: 0 10px;
    padding: 5px;
    flex: auto;
    display: flex;
  }

  .search {
    @extend .item;
    font-size: smaller;
  }

  .searchBoard {
    @extend .search;
    width: 150px;
  }

  .searchCard {
    @extend .search;
    max-width: 80%;
    width: fit-content;
    min-width: 400px;
  }

  .space {
    flex: auto;
  }

  .daySelect_container {
    @extend .search;

    display: flex;
    align-items: center;
    justify-content: center;

    .daySelect {
      @extend .item;
      border: 1px solid $gray;
    }

    .hasPlan {
      background-color: $main_lighter;
      border-radius: 50%;
    }
  }

  .modeSelect {
    @extend .search;
    width: 150px;
  }

  .userBtn {
    @extend .item;
    border-radius: 50%;
    color: $white;
    padding: 8px;
    font-size: $h4;

    user-select: none;
    &:hover {
      box-shadow: 0 0 3px 4px $gray_lighter;
    }
  }

  .buttons {
    display: flex;
  }

  .button {
    @extend .item;
    padding: 5px 10px;
    box-sizing: border-box;

    &:hover {
      background-color: $gray_lighter;
    }
  }

  .colorBtn {
    @extend .item;
    background-color: $main;
    color: $white;
    padding: 5px 10px;
    box-sizing: border-box;

    &:hover {
      opacity: 80%;
    }
  }
}
